@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark, cupcake, business;
}

:root {
  /* --background: #DDDDDD;
  --foreground: #222831; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #222831;
    --foreground: #DDDDDD; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

        @media screen and (max-width: 400px) {
          .xs { width: 80% !important; }
          .xs-hide{ display: none !important; }
        }